// COLOR PALETTE
$primary-color: #00CDAC;
$solid-purple: #5E72E4;
$solid-green: #2DCE89;
$solid-red: #FB6340;
$solid-black: #212529;
$solid-white: #FFFFFF;
$solid-gray: #E9ECEF;

$text-primary: #32325D;
$text-secondary: #525F7F;
$text-tertiary: #8898AA;
$text-white: #FFFFFF;
$text-blue: #4A90E2;
$twitter-blue: #1DA1F2;
$facebook-blue: #3B5999;
$dribble-purple: #EA4C89;
$github-black: #222222;



// FONT VARIABLES
$primary-font-family: 'Open Sans', sans-serif;
$font-size-primary: 22px;
$font-size-secondary: 14px;
$font-size-tertiary: 24px;
$font-size-elementary: 28px;
$font-size-subtitle:24px;
$font-size-title:16px;

$primary-letter-spacing: 0.4px;
$secondary-letter-spacing: 0.8px;
$tertiary-letter-spacing: 0.1px;
$negative-letter-spacing: -0.45px;


$font-bold: bold;

// RADIUS
$radius-primary: 3px;
$radius-secondary: 4px;

// BOX-SHADOWS
$box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08), 0px 4px 4px rgba(50, 50, 93, 0.11);



